body {
    padding: 10px 100px;
}

.container {
    display: flex;
    align-items: end;
}

h4 {
    margin: 16px 0;
}

.container>div {
    padding: 5px 50px;
}

.container div:first-child {
    padding: 5px 50px 5px 0
}